:root {
  --light-1: #df0071;
  --light-2: #f0028d;
  --light-3: #f14fa3;
  --light-4: #f386be;

  --dark-1: #1e2124;
  --dark-2: #282b30;
  --dark-3: #282b30;
  --dark-4: #424549;
}

.outline-item p {
  margin-bottom: 15px;
}
